/* common css */
img {
    max-width: 100%;
}
.contain {
    width: 1400px !important;
    margin: auto;
}
.midwidth {
    width: 1200px;
    margin: auto;
}

/* header-banner css start  */
.header-banner {
    background-image: url(img/ia_200000019.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.header-banner::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.534);
    z-index: -1;
}
.header-top {
    background: #0000009f;
    padding: 10px 0;
}

.header-top .header-logo {
    width: 30%;
    margin-bottom: 0;
    line-height: 41px;
}
.header-top .header-logo img {
    max-width: 200px;
}
.header-top .header-menu {
    width: 70%;
    text-align: right;
}

.header-top .header-menu ul {
    margin: 0;
}
.header-top .header-menu ul li {
    display: inline-block;
    margin-left: -4px;
    position: relative;
}
.header-top .header-menu .bef li:first-child a.bf::active{
    color: #c69453;
}
.header-top .header-menu .bef li a.bf::before{
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #c69453;
    margin-top: 7px;
    transition: .4s;
    transform: scale(0);
}
.header-top .header-menu ul li:first-child a.bf{
    color: #c69453 !important;
}

.header-top .header-menu .bef li a.bf:hover::before{
    transform: scale(1);
}

.header-top .header-menu ul li a {
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
    transition: .4s;
}
.header-top .header-menu ul li:hover > a {
    color: #c69453;
}

/* Drowpdown */
.header-menu ul li ul {
    position: absolute;
    left: 0;
    top: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
    z-index: 11;
}
.header-menu ul li ul li {
    width: 250px;
    background: rgb(255, 255, 255);
    display: block;
}
.header-menu ul li:hover ul {
    visibility: visible;
    opacity: 1;
}
.header-menu ul li ul li a {
    color: #000 !important;
    display: block !important;
    padding: 20px 20px !important;
}
.header-menu ul li ul li a:hover {
    background: rgb(197, 197, 197);
    color: #c69453 !important;
}

/* banner-part */
.header-banner .banner {
    text-align: center;
    padding: 200px 0;
    color: #ffff;
}
.header-banner .banner h2 {
    font-weight: 600;
    font-size: 91px;
}
.header-banner .banner p::before {
    content: "";
    width: 90px;
    height: 2px;
    margin-left: 10px;
    background: #fff;
    position: absolute;
    top: 27px;
    left: 27%;
}
.header-banner .banner p::after {
    content: "";
    width: 90px;
    height: 2px;
    margin-left: 10px;
    background: #fff;
    position: absolute;
    top: 27px;
    right: 27%;
}
.header-banner .banner p {
    font-size: 35px;
    position: relative;
    font-weight: 500;

    margin-bottom: 30px;
}
.default-btn {
    background: #c69453;
    border: none;
    padding: 14px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    display: inline-block;
}

.default-btn:hover {
    color: #c69453;
    background: #fff;
    text-decoration: none;
}

/* header-banner css End  */

/* builders css start */
.builders-part {
    background: #f8f8f8;
    padding: 80px 0;
}
.builders-part .builders-col {
    width: 23%;
    margin-right: 2%; /*! border: 1px solid #ddd; */
    box-shadow: 0px 0 26px 0px #ddd;
    padding: 31px 24px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 5px;
    transition: 0.3s;
}

.builders-part .builders-col:hover {
    background: #ceccc9;
    cursor: pointer;
}

.builders-col figure {
    padding: 10px 0;
    transition: 0.6s;
}
.builders-part .builders-col:hover figure {
    transform: rotateY(360deg);
}
.builders-col h3 {
    font-size: 19px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px 0;
}
.builders-col p {
    color: #767676;
    font-size: 16px;
}
.builders-col a {
    border-radius: 5px;
    margin: 20px 0;
    display: inline-block;
    transition: 0.4s;
}
.builders-col:hover a {
    color: #c69453;
    background: #fff;
    text-decoration: none;
}
.builders-col a:hover {
    transform: translateY(10px);
    background: #000;
    color: #fff;
}
/* builders css End */

/* about css start */
.about-section {
    background: #f8f8f8;
    padding: 80px 0;
}
.about-section .video {
    width: 47%;
}
.about-content {
    width: 49%;
}
.about-content h2 {
    font-weight: 700;
    margin-top: 4px;
}
.about-content h2 span {
    color: #c69453;
}
.about-content p {
    margin: 26px 0;
    color: #595959;
    font-size: 17px;
}
.about-content details {
    margin: 37px 0;
}
.about-content a {
    background: #000;
    border-radius: 0;
    box-shadow: 0 0 64px 5px #a6a5a5;
    transition: 0.4s;
}
.about-content a:hover {
    background: #c69453;
    color: #fff;
}
/* about css End */

/* contact section start */
.contact-us {
    background: #f8f8f8;
    background-image: url(img/ia_200000022.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0;
}
.contact-bg {
}
.contact-us .contact {
    width: 50%;
}
.contact-us .contact h2 {
    font-weight: 700;
    text-transform: uppercase;
}
.contact-us .contact p {
    color: #5b5a5a;
}
.contact form {
    width: 100%;
}
.contact form input {
    width: 90%;
    margin: 6px 0;
    border: none;
    box-shadow: 0 0 13px 0px #ddd;
    padding: 20px;
    border-radius: 5px;
    outline: none;
    border: 2px solid transparent;
}
.contact form textarea {
    width: 90%;
    height: 220px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 13px 0px #ddd;
    margin: 6px 0px;
    outline: none;
    padding: 20px;
    border: 2px solid transparent;
}
.contact form .submit-btn {
    border-radius: 1px;
    margin-top: 22px;
}
.contact form .submit-btn:hover {
    background: #a57c46;
    color: #fff;
}
.contact form input:focus,
.contact form textarea:focus {
    border: 2px solid #000;
}
/* contact section End */

/* footer section start */
footer {
    background: #6d6d6d;
    padding: 30px 0;
}
.footer-bottom h4 {
    font-size: 20px;
    line-height: 50px;
    color: #ccc;
    width: 50%;
}
.footer-bottom nav {
    float: right;
    width: 50%;
    text-align: right;
}
.footer-bottom ul {
    margin: 0;
}
.footer-bottom ul li {
    display: inline-block;
    margin-left: -4px;
}
.footer-bottom ul li span {
    display: block;
    padding: 10px 20px;
    font-size: 23px;
    color: #fff;
}
.footer-bottom ul li span:hover {
    color: rgb(79, 79, 197);
    transition: 0.4s;
}
/* footer section end */
